# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  # Maintain dependencies for Composer
  - package-ecosystem: "composer"
    directory: "/"
    schedule:
      interval: "daily"
  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: "/rproxy"
    schedule:
      interval: "daily"
  - package-ecosystem: "docker"
    directory: "/api"
    schedule:
      interval: "daily"
  - package-ecosystem: "docker"
    directory: "/scan_host"
    schedule:
      interval: "weekly"
  - package-ecosystem: "docker"
    directory: "/scan_ip"
    schedule:
      interval: "weekly"
  - package-ecosystem: "docker"
    directory: "/scan_network"
    schedule:
      interval: "weekly"
   - package-ecosystem: "docker"
    directory: "/scan_domain"
    schedule:
      interval: "weekly"
  - package-ecosystem: "docker"
    directory: "/scan_web"
    schedule:
      interval: "weekly"
   # Maintain dependencies for Composer
  - package-ecosystem: "pip"
    directory: "/scripts"
    schedule:
      interval: "weekly"
    # Maintain dependencies for Composer
  - package-ecosystem: "npm"
    directory: "/api"
    schedule:
      interval: "weekly"
