services:

  caddy-proxy-waf:
    image: ghcr.io/altersec/caddy-proxy-waf:latest
    container_name: caddy-proxy-waf
    restart: always
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    environment:
      SERVER_NAME: ${SERVER_NAME:-localhost}
      BACKEND: ${BACKEND:-http://api:8055}
    # command: ["caddy", "run", "--config", "/etc/caddy/Caddyfile", "--adapter", "caddyfile", "--watch"]
    volumes:
      - caddy_data:/data
      # - ./Caddyfile:/etc/caddy/Caddyfile
      # - ./logs/access.log:/var/log/caddy/access.log
    networks:
      - proxy

  api:
    image: ghcr.io/ciso360ai/api:latest
    build:
      context: ./api/.
    container_name: api
    restart: always
    depends_on:
      cache:
        condition: service_healthy
      scan_tls:
        condition: service_healthy
    ports:
      - "8055:8055"
    env_file:
      - .env
    environment:
      TELEMETRY: "false"
      LOGGER_HTTP_USE_LEVEL: "silent" # DO NOT log api logs
      LOG_LEVEL: "info" #warn
      DB_CLIENT: "pg"
      DB_CONNECTION_STRING: "postgres://${PG1_USER:-root}:${PG1_PASS}@${PG1_HOST:-postgres}:5432/${PG1_DB}?sslmode=require"
      DB_SEARCH_PATH: public,timetable
      CACHE_ENABLED: "true"
      CACHE_AUTO_PURGE: "true"
      CACHE_STORE: "redis"
      CACHE_TTL: "5s"
      REDIS: "redis://cache:6379"
    volumes:
      - ./api/migrations:/directus/migrations
      - ./api/uploads:/directus/uploads
      - ./results:/results
    networks:
      - db
      - proxy
      - internal
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://127.0.0.1:8055/server/health || exit 1
      interval: 15s
      timeout: 15s
      retries: 3
      start_period: 15s

  cache:
    image: redis:8-alpine
    container_name: cache
    restart: always
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
    networks:
      - db

  scan_tls:
    image: ghcr.io/ciso360ai/scan_tls:latest
    build:
      context: ./scan_tls/.
    container_name: scan_tls
    hostname: scan_tls
    restart: always
    healthcheck:
      # test: ["CMD-SHELL", "curl -f http://localhost:8008/readiness || exit 1"]
      test: ["CMD-SHELL", "exit 0"]
      timeout: 1s
      interval: 1s
      retries: 5
    environment:
      PGTT_URL: "postgres://${PG1_USER:-root}:${PG1_PASS}@${PG1_HOST:-postgres}:5432/${PG1_DB}?sslmode=require"
      SERVER_NAME: ${SERVER_NAME:-localhost}
      USER_AGENT: ${USER_AGENT} #TBD
      TIMEOUT_SHORT: ${TIMEOUT_SHORT:-270}
      TIMEOUT_LONG: ${TIMEOUT_LONG:-600}
    # command: ["--cron-workers=4"]
    volumes:
      - ./results:/results
      - ./logs:/logs
      - ./scan_tls/scripts/scan_tls:/usr/local/bin/scan_tls
      - ./scan_tls/scripts/import_scan:/usr/local/bin/import_scan
    networks:
      - internal

  scan_domain:
    image: ghcr.io/ciso360ai/scan_domain:latest
    build:
      context: ./scan_domain/.
    container_name: scan_domain
    hostname: scan_domain
    restart: always
    depends_on:
      scan_tls:
        condition: service_healthy
    healthcheck:
      # test: ["CMD-SHELL", "curl -f http://localhost:8008/readiness || exit 1"]
      test: ["CMD-SHELL", "exit 0"]
      timeout: 1s
      interval: 1s
      retries: 5
    environment:
      PGTT_URL: "postgres://${PG1_USER:-root}:${PG1_PASS}@${PG1_HOST:-postgres}:5432/${PG1_DB}?sslmode=require"
      SERVER_NAME: ${SERVER_NAME:-localhost}
      USER_AGENT: ${USER_AGENT} #TBD
      TIMEOUT_SHORT: ${TIMEOUT_SHORT:-270}
      TIMEOUT_LONG: ${TIMEOUT_LONG:-600}
    # command: ["--cron-workers=4"]
    volumes:
      - ./results:/results
      - ./logs:/logs
      - ./scan_domain/scripts/scan_domain:/usr/local/bin/scan_domain
      - ./scan_domain/scripts/import_scan:/usr/local/bin/import_scan
      - ./scan_domain/config:/scan_domain/config
    networks:
      - internal

  scan_email:
    image: ghcr.io/ciso360ai/scan_email:latest
    build:
      context: ./scan_email/.
    container_name: scan_email
    hostname: scan_email
    restart: always
    depends_on:
      scan_tls:
        condition: service_healthy
    healthcheck:
      # test: ["CMD-SHELL", "curl -f http://localhost:8008/readiness || exit 1"]
      test: ["CMD-SHELL", "exit 0"]
      timeout: 1s
      interval: 1s
      retries: 5
    environment:
      PGTT_URL: "postgres://${PG1_USER:-root}:${PG1_PASS}@${PG1_HOST:-postgres}:5432/${PG1_DB}?sslmode=require"
      SERVER_NAME: ${SERVER_NAME:-localhost}
      USER_AGENT: ${USER_AGENT}
      HIBP_API_KEY: ${HIBP_API_KEY}
      PYTHONUNBUFFERED: 1
    # command: ["--cron-workers=4"]
    volumes:
      - ./results:/results
      - ./logs:/logs
      - ./scan_email/scripts/scan_domain_hibp:/usr/local/bin/scan_domain_hibp
      - ./scan_email/scripts/scan_email_hibp:/usr/local/bin/scan_email_hibp
      - ./scan_email/config:/scan_domain/config
    networks:
      - internal

  init_service:
    image: ghcr.io/ciso360ai/scan_image:latest
    container_name: init_service
    restart: no
    depends_on:
      api:
        condition: service_healthy
    volumes:
      - ./scripts:/scripts
    environment:
      PGTT_URL: "postgres://${PG1_USER:-root}:${PG1_PASS}@${PG1_HOST:-postgres}:5432/${PG1_DB}?sslmode=require"
    entrypoint: |
      /bin/sh -c '
      # must use $$ for variable expansion in docker-compose
      PSQL_CMD="psql $${PGTT_URL} -tAc"
      INIT_STATUS=$($$PSQL_CMD "SELECT EXISTS (SELECT 1 FROM organisations);")
      if [ "$$INIT_STATUS" != "t" ]; then
        echo "Running post-startup fixes..."
        for sql_file in /scripts/*.sql; do
          echo "Processing file $${sql_file}"
          cat "$${sql_file}" | psql $${PGTT_URL}
        done
        echo "Initialization completed."
      else
        echo "Initialization already done."
      fi
      echo "\nLogin with .env admin creds to: https://localhost/admin/login"
      '
    networks:
      - db

networks:
  proxy:
  db:
  internal:

volumes:
  caddy_data:
    driver: local
